* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  --primary-text: white;
  --primary-light-text: black;
  --primary: rgb(66, 66, 66);
  --primary-dark-variant: rgb(19, 19, 19);
  --primary-light-variant: rgb(141, 141, 141);
  --primary-lighter-variant: rgb(189, 189, 189);
  --primary-lightest-variant: rgb(225, 225, 225);
  --disabled: rgb(203, 203, 205);
  --disabled-text: rgb(66, 66, 80);
  --error: rgb(176, 0, 32);
  --error-text: white;
  --helper: rgb(58, 182, 25);
  --info: rgb(25, 64, 182);
  --small-screen-100vh: calc(100vh - 70.93px - 161px);
  --tablet-screen-100vh: calc(100vh - 83px - 123.16px);
  --small-desktop-screen-100vh: calc(100vh - 83px - 102.45px);
  --ipadpro-screen-100vh: calc(100vh - 83px - 134.45px);
  --extra-large-screen-100vh: calc(100vh - 88.98px - 102.45px);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

blockquote {
  font-size: 17px;
}

b, strong, s {
  font-size: 16px;
}

a, p, input, textarea, button, select, q {
  font-size: 15px;
}

ul, ol {
  font-size: 0.9em;
}

li {
  font-size: 0.99em;
}

small, sub, sup {
  font-size: 12px;
}

q, blockquote {
  font-style: italic;
}

span {
  font-size: 22px;
  font-family: 'Lateef', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  color: var(--primary-light-variant);
}

.flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.self-align-start {
  align-self: flex-start;
}

.self-align-end {
  align-self: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.self-start {
  justify-self: flex-start;
}

.self-end {
  justify-self: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.g-unset {
  gap: unset;
}

.g-1 {
  gap: 1em;
}

.g-2 {
  gap: 2em;
}

.g-3 {
  gap: 3em;
}

.g-4 {
  gap: 4em;
}

.g-5 {
  gap: 5em;
}

.r-g-unset {
  row-gap: unset;
}

.r-g-1 {
  row-gap: 1em;
}

.r-g-2 {
  row-gap: 2em;
}

.r-g-3 {
  row-gap: 3em;
}

.r-g-4 {
  row-gap: 4em;
}

.r-g-5 {
  row-gap: 5em;
}

.c-g-unset {
  column-gap: unset;
}

.c-g-1 {
  column-gap: 1em;
}

.c-g-2 {
  column-gap: 2em;
}

.c-g-3 {
  column-gap: 3em;
}

.c-g-4 {
  column-gap: 4em;
}

.c-g-5 {
  column-gap: 5em;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

.margin-center {
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-66 {
  width: 66.66%
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%
}

.w-25 {
  width: 25%;
}

.w-unset {
  width: unset;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mx-2 {
  margin-left: 2em;
  margin-right: 2em;
}

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.mx-3 {
  margin-left: 3em;
  margin-right: 3em;
}

.my-4 {
  margin-top: 4em;
  margin-bottom: 4em;
}

.mx-4 {
  margin-left: 4em;
  margin-right: 4em;
}

.my-5 {
  margin-top: 5em;
  margin-bottom: 5em;
}

.mx-5 {
  margin-left: 5em;
  margin-right: 5em;
}

.p-half {
  padding: 0.5em;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.p-4 {
  padding: 4em;
}

.p-5 {
  padding: 5em;
}

.p-6 {
  padding: 6em;
}

.p-7 {
  padding: 7em;
}

.p-8 {
  padding: 8em;
}

.p-9 {
  padding: 9em;
}

.p-10 {
  padding: 10em;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.px-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.py-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.px-3 {
  padding-left: 3em;
  padding-right: 3em;
}

.py-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}

.px-4 {
  padding-left: 4em;
  padding-right: 4em;
}

.py-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.px-5 {
  padding-left: 5em;
  padding-right: 5em;
}

.py-6 {
  padding-top: 6em;
  padding-bottom: 6em;
}

.pl-1 {
  padding-left: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pl-2 {
  padding-left: 2em;
}

.pr-2 {
  padding-right: 2em;
}

.pt-2 {
  padding-top: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pl-3 {
  padding-left: 3em;
}

.pr-3 {
  padding-right: 3em;
}

.pt-3 {
  padding-top: 3em;
}

.pb-3 {
  padding-bottom: 3em;
}

.pl-4 {
  padding-left: 4em;
}

.pr-4 {
  padding-right: 4em;
}

.pt-4 {
  padding-top: 4em;
}

.pb-4 {
  padding-bottom: 4em;
}

.pl-5 {
  padding-left: 5em;
}

.pr-5 {
  padding-right: 5em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-5 {
  padding-bottom: 5em;
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 21px;
  }
  .md-row {
    flex-direction: row;
  }
  .md-column {
    flex-direction: column;
  }
  .md-center {
    justify-content: center;
  }
  .md-align-center {
    align-items: center;
  }
  .md-align-start {
    align-items: flex-start;
  }
  .md-align-end {
    align-items: flex-end;
  }
  .md-self-align-start {
    align-self: flex-start;
  }
  .md-self-align-end {
    align-self: flex-end;
  }
  .md-space-between {
    justify-content: space-between;
  }
  .md-space-evenly {
    justify-content: space-evenly;
  }
  .md-space-around {
    justify-content: space-around;
  }
  .md-start {
    justify-content: flex-start;
  }
  .md-end {
    justify-content: flex-end;
  }
  .md-self-start {
    justify-self: flex-start;
  }
  .md-self-end {
    justify-self: flex-end;
  }
  .flex-md-1 {
    flex: 1;
  }
  .flex-md-2 {
    flex: 2;
  }
  .flex-md-3 {
    flex: 3;
  }
  .flex-md-4 {
    flex: 4;
  }
  .flex-md-5 {
    flex: 5;
  }
  .flex-md-6 {
    flex: 6;
  }
  .flex-md-7 {
    flex: 7;
  }
  .flex-md-8 {
    flex: 8;
  }
  .flex-md-9 {
    flex: 9;
  }
  .flex-md-10 {
    flex: 10;
  }
  .flex-md-11 {
    flex: 11;
  }
  .flex-md-12 {
    flex: 12;
  }
  .w-md-100 {
    width: 100%
  }
  .w-md-95 {
    width: 95%;
  }
  .w-md-80 {
    width: 80%;
  }
  .w-md-75 {
    width: 75%;
  }
  .w-md-66 {
    width: 66.66%
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-33 {
    width: 33.33%
  }
  .w-md-25 {
    width: 25%;
  }
  .w-md-unset {
    width: unset;
  }
  .my-md-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .mx-md-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-md-2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .mx-md-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .my-md-3 {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .mx-md-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .my-md-4 {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .mx-md-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .my-md-5 {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .mx-md-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .p-md-1 {
    padding: 1em;
  }
  .p-md-2 {
    padding: 2em;
  }
  .p-md-3 {
    padding: 3em;
  }
  .p-md-4 {
    padding: 4em;
  }
  .p-md-5 {
    padding: 5em;
  }
  .py-md-1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .px-md-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .py-md-2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .px-md-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .py-md-3 {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .px-md-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .py-md-4 {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .px-md-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .py-md-5 {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .px-md-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .pl-md-1 {
    padding-left: 1em;
  }
  .pr-md-1 {
    padding-right: 1em;
  }
  .pt-md-1 {
    padding-top: 1em;
  }
  .pb-md-1 {
    padding-bottom: 1em;
  }
  .pl-md-2 {
    padding-left: 2em;
  }
  .pr-md-2 {
    padding-right: 2em;
  }
  .pt-md-2 {
    padding-top: 2em;
  }
  .pb-md-2 {
    padding-bottom: 2em;
  }
  .pl-md-3 {
    padding-left: 3em;
  }
  .pr-md-3 {
    padding-right: 3em;
  }
  .pt-md-3 {
    padding-top: 3em;
  }
  .pb-md-3 {
    padding-bottom: 3em;
  }
  .pl-md-4 {
    padding-left: 4em;
  }
  .pr-md-4 {
    padding-right: 4em;
  }
  .pt-md-4 {
    padding-top: 4em;
  }
  .pb-md-4 {
    padding-bottom: 4em;
  }
  .pl-md-5 {
    padding-left: 5em;
  }
  .pr-md-5 {
    padding-right: 5em;
  }
  .pt-md-5 {
    padding-top: 5em;
  }
  .pb-md-5 {
    padding-bottom: 5em;
  }
  .g-md-unset {
    gap: unset;
  }
  .g-md-1 {
    gap: 1em;
  }
  .g-md-2 {
    gap: 2em;
  }
  .g-md-3 {
    gap: 3em;
  }
  .g-md-4 {
    gap: 4em;
  }
  .g-md-5 {
    gap: 5em;
  }
  .r-g-md-unset {
    row-gap: unset;
  }
  .r-g-md-1 {
    row-gap: 1em;
  }
  .r-g-md-2 {
    row-gap: 2em;
  }
  .r-g-md-3 {
    row-gap: 3em;
  }
  .r-g-md-4 {
    row-gap: 4em;
  }
  .r-g-md-5 {
    row-gap: 5em;
  }
  .c-g-md-unset {
    column-gap: unset;
  }
  .c-g-md-1 {
    column-gap: 1em;
  }
  .c-g-md-2 {
    column-gap: 2em;
  }
  .c-g-md-3 {
    column-gap: 3em;
  }
  .c-g-md-4 {
    column-gap: 4em;
  }
  .c-g-md-5 {
    column-gap: 5em;
  }
}

/* iPad 10'5" */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/* Large devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .xmd-row {
    flex-direction: row;
  }
  .xmd-column {
    flex-direction: column;
  }
  .xmd-center {
    justify-content: center;
  }
  .xmd-align-center {
    align-items: center;
  }
  .xmd-align-start {
    align-items: flex-start;
  }
  .xmd-align-end {
    align-items: flex-end;
  }
  .xmd-self-align-start {
    align-self: flex-start;
  }
  .xmd-self-align-end {
    align-self: flex-end;
  }
  .xmd-space-between {
    justify-content: space-between;
  }
  .xmd-space-evenly {
    justify-content: space-evenly;
  }
  .xmd-space-around {
    justify-content: space-around;
  }
  .xmd-start {
    justify-content: flex-start;
  }
  .xmd-end {
    justify-content: flex-end;
  }
  .xmd-self-start {
    justify-self: flex-start;
  }
  .xmd-self-end {
    justify-self: flex-end;
  }
  .flex-xmd-1 {
    flex: 1;
  }
  .flex-xmd-2 {
    flex: 2;
  }
  .flex-xmd-3 {
    flex: 3;
  }
  .flex-xmd-4 {
    flex: 4;
  }
  .flex-xmd-5 {
    flex: 5;
  }
  .flex-xmd-6 {
    flex: 6;
  }
  .flex-xmd-7 {
    flex: 7;
  }
  .flex-xmd-8 {
    flex: 8;
  }
  .flex-xmd-9 {
    flex: 9;
  }
  .flex-xmd-10 {
    flex: 10;
  }
  .flex-xmd-11 {
    flex: 11;
  }
  .flex-xmd-12 {
    flex: 12;
  }
  .w-xmd-100 {
    width: 100%
  }
  .w-xmd-95 {
    width: 95%;
  }
  .w-xmd-80 {
    width: 80%;
  }
  .w-xmd-75 {
    width: 75%;
  }
  .w-xmd-66 {
    width: 66.66%
  }
  .w-xmd-50 {
    width: 50%;
  }
  .w-xmd-33 {
    width: 33.33%
  }
  .w-xmd-25 {
    width: 25%;
  }
  .w-xmd-unset {
    width: unset;
  }
  .my-xmd-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .mx-xmd-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-xmd-2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .mx-xmd-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .my-xmd-3 {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .mx-xmd-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .my-xmd-4 {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .mx-xmd-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .my-xmd-5 {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .mx-xmd-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .p-xmd-1 {
    padding: 1em;
  }
  .p-xmd-2 {
    padding: 2em;
  }
  .p-xmd-3 {
    padding: 3em;
  }
  .p-xmd-4 {
    padding: 4em;
  }
  .p-xmd-5 {
    padding: 5em;
  }
  .py-xmd-1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .px-xmd-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .py-xmd-2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .px-xmd-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .py-xmd-3 {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .px-xmd-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .py-xmd-4 {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .px-xmd-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .py-xmd-5 {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .px-xmd-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .px-xmd-6 {
    padding-left: 6em;
    padding-right: 6em;
  }
  .pl-xmd-1 {
    padding-left: 1em;
  }
  .pr-xmd-1 {
    padding-right: 1em;
  }
  .pt-xmd-1 {
    padding-top: 1em;
  }
  .pb-xmd-1 {
    padding-bottom: 1em;
  }
  .pl-xmd-2 {
    padding-left: 2em;
  }
  .pr-xmd-2 {
    padding-right: 2em;
  }
  .pt-xmd-2 {
    padding-top: 2em;
  }
  .pb-xmd-2 {
    padding-bottom: 2em;
  }
  .pl-xmd-3 {
    padding-left: 3em;
  }
  .pr-xmd-3 {
    padding-right: 3em;
  }
  .pt-xmd-3 {
    padding-top: 3em;
  }
  .pb-xmd-3 {
    padding-bottom: 3em;
  }
  .pl-xmd-4 {
    padding-left: 4em;
  }
  .pr-xmd-4 {
    padding-right: 4em;
  }
  .pt-xmd-4 {
    padding-top: 4em;
  }
  .pb-xmd-4 {
    padding-bottom: 4em;
  }
  .pl-xmd-5 {
    padding-left: 5em;
  }
  .pr-xmd-5 {
    padding-right: 5em;
  }
  .pt-xmd-5 {
    padding-top: 5em;
  }
  .pb-xmd-5 {
    padding-bottom: 5em;
  }
  .g-xmd-unset {
    gap: unset;
  }
  .g-xmd-1 {
    gap: 1em;
  }
  .g-xmd-2 {
    gap: 2em;
  }
  .g-xmd-3 {
    gap: 3em;
  }
  .g-xmd-4 {
    gap: 4em;
  }
  .g-xmd-5 {
    gap: 5em;
  }
  .r-g-xmd-unset {
    row-gap: unset;
  }
  .r-g-xmd-1 {
    row-gap: 1em;
  }
  .r-g-xmd-2 {
    row-gap: 2em;
  }
  .r-g-xmd-3 {
    row-gap: 3em;
  }
  .r-g-xmd-4 {
    row-gap: 4em;
  }
  .r-g-xmd-5 {
    row-gap: 5em;
  }
  .c-g-xmd-unset {
    column-gap: unset;
  }
  .c-g-xmd-1 {
    column-gap: 1em;
  }
  .c-g-xmd-2 {
    column-gap: 2em;
  }
  .c-g-xmd-3 {
    column-gap: 3em;
  }
  .c-g-xmd-4 {
    column-gap: 4em;
  }
  .c-g-xmd-5 {
    column-gap: 5em;
  }
}

/* iPad 13'6" */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .ipp-row {
    flex-direction: row !important;
  }
  .ipp-column {
    flex-direction: column !important;
  }
  .ipp-center {
    justify-content: center !important;
  }
  .ipp-align-center {
    align-items: center !important;
  }
  .ipp-align-start {
    align-items: flex-start !important;
  }
  .ipp-align-end {
    align-items: flex-end !important;
  }
  .ipp-self-align-start {
    align-self: flex-start !important;
  }
  .ipp-self-align-end {
    align-self: flex-end !important;
  }
  .ipp-space-between {
    justify-content: space-between !important;
  }
  .ipp-space-evenly {
    justify-content: space-evenly !important;
  }
  .ipp-space-around {
    justify-content: space-around !important;
  }
  .ipp-start {
    justify-content: flex-start !important;
  }
  .ipp-end {
    justify-content: flex-end !important;
  }
  .ipp-self-start {
    justify-self: flex-start !important;
  }
  .ipp-self-end {
    justify-self: flex-end !important;
  }
  .flex-ipp-1 {
    flex: 1 !important;
  }
  .flex-ipp-2 {
    flex: 2 !important;
  }
  .flex-ipp-3 {
    flex: 3 !important;
  }
  .flex-ipp-4 {
    flex: 4 !important;
  }
  .flex-ipp-5 {
    flex: 5 !important;
  }
  .flex-ipp-6 {
    flex: 6 !important;
  }
  .flex-ipp-7 {
    flex: 7 !important;
  }
  .flex-ipp-8 {
    flex: 8 !important;
  }
  .flex-ipp-9 {
    flex: 9 !important;
  }
  .flex-ipp-10 {
    flex: 10 !important;
  }
  .flex-ipp-11 {
    flex: 11 !important;
  }
  .flex-ipp-12 {
    flex: 12 !important;
  }
  .w-ipp-100 {
    width: 100% !important;
  }
  .w-ipp-95 {
    width: 95% !important;
  }
  .w-ipp-80 {
    width: 80% !important;
  }
  .w-ipp-75 {
    width: 75% !important;
  }
  .w-ipp-66 {
    width: 66.66% !important;
  }
  .w-ipp-50 {
    width: 50% !important;
  }
  .w-ipp-33 {
    width: 33.33% !important;
  }
  .w-ipp-25 {
    width: 25% !important;
  }
  .w-ipp-unset {
    width: unset !important;
  }
  .my-ipp-1 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }
  .mx-ipp-1 {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
  .my-ipp-2 {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
  }
  .mx-ipp-2 {
    margin-left: 2em !important;
    margin-right: 2em !important;
  }
  .my-ipp-3 {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
  }
  .mx-ipp-3 {
    margin-left: 3em !important;
    margin-right: 3em !important;
  }
  .my-ipp-4 {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
  }
  .mx-ipp-4 {
    margin-left: 4em !important;
    margin-right: 4em !important;
  }
  .my-ipp-5 {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
  }
  .mx-ipp-5 {
    margin-left: 5em !important;
    margin-right: 5em !important;
  }
  .p-ipp-1 {
    padding: 1em !important;
  }
  .p-ipp-2 {
    padding: 2em !important;
  }
  .p-ipp-3 {
    padding: 3em !important;
  }
  .p-ipp-4 {
    padding: 4em !important;
  }
  .p-ipp-5 {
    padding: 5em !important;
  }
  .py-ipp-1 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
  }
  .px-ipp-1 {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .py-ipp-2 {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
  .px-ipp-2 {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
  .py-ipp-3 {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }
  .px-ipp-3 {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
  .py-ipp-4 {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
  }
  .px-ipp-4 {
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
  .py-ipp-5 {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
  }
  .px-ipp-5 {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }
  .py-ipp-6 {
    padding-top: 6em !important;
    padding-bottom: 6em !important;
  }
  .py-ipp-7 {
    padding-top: 7em !important;
    padding-bottom: 7em !important;
  }
  .pl-ipp-1 {
    padding-left: 1em !important;
  }
  .pr-ipp-1 {
    padding-right: 1em !important;
  }
  .pt-ipp-1 {
    padding-top: 1em !important;
  }
  .pb-ipp-1 {
    padding-bottom: 1em !important;
  }
  .pl-ipp-2 {
    padding-left: 2em !important;
  }
  .pr-ipp-2 {
    padding-right: 2em !important;
  }
  .pt-ipp-2 {
    padding-top: 2em !important;
  }
  .pb-ipp-2 {
    padding-bottom: 2em !important;
  }
  .pl-ipp-3 {
    padding-left: 3em !important;
  }
  .pr-ipp-3 {
    padding-right: 3em !important;
  }
  .pt-ipp-3 {
    padding-top: 3em !important;
  }
  .pb-ipp-3 {
    padding-bottom: 3em !important;
  }
  .pl-ipp-4 {
    padding-left: 4em !important;
  }
  .pr-ipp-4 {
    padding-right: 4em !important;
  }
  .pt-ipp-4 {
    padding-top: 4em !important;
  }
  .pb-ipp-4 {
    padding-bottom: 4em !important;
  }
  .pl-ipp-5 {
    padding-left: 5em !important;
  }
  .pr-ipp-5 {
    padding-right: 5em !important;
  }
  .pt-ipp-5 {
    padding-top: 5em !important;
  }
  .pb-ipp-5 {
    padding-bottom: 5em !important;
  }
  .g-ipp-unset {
    gap: unset !important;
  }
  .g-ipp-1 {
    gap: 1em !important;
  }
  .g-ipp-2 {
    gap: 2em !important;
  }
  .g-ipp-3 {
    gap: 3em !important;
  }
  .g-ipp-4 {
    gap: 4em !important;
  }
  .g-ipp-5 {
    gap: 5em !important;
  }
  .r-g-ipp-unset {
    row-gap: unset !important;
  }
  .r-g-ipp-1 {
    row-gap: 1em !important;
  }
  .r-g-ipp-2 {
    row-gap: 2em !important;
  }
  .r-g-ipp-3 {
    row-gap: 3em !important;
  }
  .r-g-ipp-4 {
    row-gap: 4em !important;
  }
  .r-g-ipp-5 {
    row-gap: 5em !important;
  }
  .c-g-ipp-unset {
    column-gap: unset !important;
  }
  .c-g-ipp-1 {
    column-gap: 1em !important;
  }
  .c-g-ipp-2 {
    column-gap: 2em !important;
  }
  .c-g-ipp-3 {
    column-gap: 3em !important;
  }
  .c-g-ipp-4 {
    column-gap: 4em !important;
  }
  .c-g-ipp-5 {
    column-gap: 5em !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  blockquote {
    font-size: 19px;
  }
  .lg-row {
    flex-direction: row;
  }
  .lg-column {
    flex-direction: column;
  }
  .lg-center {
    justify-content: center;
  }
  .lg-align-center {
    align-items: center;
  }
  .lg-align-start {
    align-items: flex-start;
  }
  .lg-align-end {
    align-items: flex-end;
  }
  .lg-self-align-start {
    align-self: flex-start;
  }
  .lg-self-align-end {
    align-self: flex-end;
  }
  .lg-space-between {
    justify-content: space-between;
  }
  .lg-space-evenly {
    justify-content: space-evenly;
  }
  .lg-space-around {
    justify-content: space-around;
  }
  .lg-start {
    justify-content: flex-start;
  }
  .lg-end {
    justify-content: flex-end;
  }
  .lg-self-start {
    justify-self: flex-start;
  }
  .lg-self-end {
    justify-self: flex-end;
  }
  .flex-lg-1 {
    flex: 1;
  }
  .flex-lg-2 {
    flex: 2;
  }
  .flex-lg-3 {
    flex: 3;
  }
  .flex-lg-4 {
    flex: 4;
  }
  .flex-lg-5 {
    flex: 5;
  }
  .flex-lg-6 {
    flex: 6;
  }
  .flex-lg-7 {
    flex: 7;
  }
  .flex-lg-8 {
    flex: 8;
  }
  .flex-lg-9 {
    flex: 9;
  }
  .flex-lg-10 {
    flex: 10;
  }
  .flex-lg-11 {
    flex: 11;
  }
  .flex-lg-12 {
    flex: 12;
  }
  .w-lg-100 {
    width: 100%
  }
  .w-lg-95 {
    width: 95%;
  }
  .w-lg-80 {
    width: 80%;
  }
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-66 {
    width: 66.66%
  }
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-33 {
    width: 33.33%
  }
  .w-lg-25 {
    width: 25%;
  }
  .w-lg-unset {
    width: unset;
  }
  .my-lg-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .mx-lg-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-lg-2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .mx-lg-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .my-lg-3 {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .mx-lg-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .my-lg-4 {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .mx-lg-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .my-lg-5 {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .mx-lg-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .p-lg-1 {
    padding: 1em;
  }
  .p-lg-2 {
    padding: 2em;
  }
  .p-lg-3 {
    padding: 3em;
  }
  .p-lg-4 {
    padding: 4em;
  }
  .p-lg-5 {
    padding: 5em;
  }
  .py-lg-1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .px-lg-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .py-lg-2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .px-lg-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .py-lg-3 {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .px-lg-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .py-lg-4 {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .px-lg-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .py-lg-5 {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .px-lg-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .pl-lg-1 {
    padding-left: 1em;
  }
  .pr-lg-1 {
    padding-right: 1em;
  }
  .pt-lg-1 {
    padding-top: 1em;
  }
  .pb-lg-1 {
    padding-bottom: 1em;
  }
  .pl-lg-2 {
    padding-left: 2em;
  }
  .pr-lg-2 {
    padding-right: 2em;
  }
  .pt-lg-2 {
    padding-top: 2em;
  }
  .pb-lg-2 {
    padding-bottom: 2em;
  }
  .pl-lg-3 {
    padding-left: 3em;
  }
  .pr-lg-3 {
    padding-right: 3em;
  }
  .pt-lg-3 {
    padding-top: 3em;
  }
  .pb-lg-3 {
    padding-bottom: 3em;
  }
  .pl-lg-4 {
    padding-left: 4em;
  }
  .pr-lg-4 {
    padding-right: 4em;
  }
  .pt-lg-4 {
    padding-top: 4em;
  }
  .pb-lg-4 {
    padding-bottom: 4em;
  }
  .pl-lg-5 {
    padding-left: 5em;
  }
  .pr-lg-5 {
    padding-right: 5em;
  }
  .pt-lg-5 {
    padding-top: 5em;
  }
  .pb-lg-5 {
    padding-bottom: 5em;
  }
  .g-lg-unset {
    gap: unset;
  }
  .g-lg-1 {
    gap: 1em;
  }
  .g-lg-2 {
    gap: 2em;
  }
  .g-lg-3 {
    gap: 3em;
  }
  .g-lg-4 {
    gap: 4em;
  }
  .g-lg-5 {
    gap: 5em;
  }
  .r-g-lg-unset {
    row-gap: unset;
  }
  .r-g-lg-1 {
    row-gap: 1em;
  }
  .r-g-lg-2 {
    row-gap: 2em;
  }
  .r-g-lg-3 {
    row-gap: 3em;
  }
  .r-g-lg-4 {
    row-gap: 4em;
  }
  .r-g-lg-5 {
    row-gap: 5em;
  }
  .c-g-lg-unset {
    column-gap: unset;
  }
  .c-g-lg-1 {
    column-gap: 1em;
  }
  .c-g-lg-2 {
    column-gap: 2em;
  }
  .c-g-lg-3 {
    column-gap: 3em;
  }
  .c-g-lg-4 {
    column-gap: 4em;
  }
  .c-g-lg-5 {
    column-gap: 5em;
  }
}

@media only screen and (min-width: 1900px) {}

/* Extra extra large devices (iMac) */

@media only screen and (min-width:2560px) {
  .xlg-row {
    flex-direction: row;
  }
  .xlg-column {
    flex-direction: column;
  }
  .xlg-center {
    justify-content: center;
  }
  .xlg-align-center {
    align-items: center;
  }
  .xlg-align-start {
    align-items: flex-start;
  }
  .xlg-align-end {
    align-items: flex-end;
  }
  .xlg-self-align-start {
    align-self: flex-start;
  }
  .xlg-self-align-end {
    align-self: flex-end;
  }
  .xlg-space-between {
    justify-content: space-between;
  }
  .xlg-space-evenly {
    justify-content: space-evenly;
  }
  .xlg-space-around {
    justify-content: space-around;
  }
  .xlg-start {
    justify-content: flex-start;
  }
  .xlg-end {
    justify-content: flex-end;
  }
  .xlg-self-start {
    justify-self: flex-start;
  }
  .xlg-self-end {
    justify-self: flex-end;
  }
  .flex-xlg-1 {
    flex: 1;
  }
  .flex-xlg-2 {
    flex: 2;
  }
  .flex-xlg-3 {
    flex: 3;
  }
  .flex-xlg-4 {
    flex: 4;
  }
  .flex-xlg-5 {
    flex: 5;
  }
  .flex-xlg-6 {
    flex: 6;
  }
  .flex-xlg-7 {
    flex: 7;
  }
  .flex-xlg-8 {
    flex: 8;
  }
  .flex-xlg-9 {
    flex: 9;
  }
  .flex-xlg-10 {
    flex: 10;
  }
  .flex-xlg-11 {
    flex: 11;
  }
  .flex-xlg-12 {
    flex: 12;
  }
  .w-xlg-100 {
    width: 100%
  }
  .w-xlg-80 {
    width: 80%;
  }
  .w-xlg-95 {
    width: 95%;
  }
  .w-xlg-75 {
    width: 75%;
  }
  .w-xlg-66 {
    width: 66.66%
  }
  .w-xlg-50 {
    width: 50%;
  }
  .w-xlg-33 {
    width: 33.33%
  }
  .w-xlg-25 {
    width: 25%;
  }
  .w-xlg-unset {
    width: unset;
  }
  .my-xlg-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .mx-xlg-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-xlg-2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .mx-xlg-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .my-xlg-3 {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .mx-xlg-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .my-xlg-4 {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .mx-xlg-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .my-xlg-5 {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .mx-xlg-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .p-xlg-1 {
    padding: 1em;
  }
  .p-xlg-2 {
    padding: 2em;
  }
  .p-xlg-3 {
    padding: 3em;
  }
  .p-xlg-4 {
    padding: 4em;
  }
  .p-xlg-5 {
    padding: 5em;
  }
  .py-xlg-1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .px-xlg-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .py-xlg-2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .px-xlg-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .py-xlg-3 {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .px-xlg-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .py-xlg-4 {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .px-xlg-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .py-xlg-5 {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .px-xlg-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .pl-xlg-1 {
    padding-left: 1em;
  }
  .pr-xlg-1 {
    padding-right: 1em;
  }
  .pt-xlg-1 {
    padding-top: 1em;
  }
  .pb-xlg-1 {
    padding-bottom: 1em;
  }
  .pl-xlg-2 {
    padding-left: 2em;
  }
  .pr-xlg-2 {
    padding-right: 2em;
  }
  .pt-xlg-2 {
    padding-top: 2em;
  }
  .pb-xlg-2 {
    padding-bottom: 2em;
  }
  .pl-xlg-3 {
    padding-left: 3em;
  }
  .pr-xlg-3 {
    padding-right: 3em;
  }
  .pt-xlg-3 {
    padding-top: 3em;
  }
  .pb-xlg-3 {
    padding-bottom: 3em;
  }
  .pl-xlg-4 {
    padding-left: 4em;
  }
  .pr-xlg-4 {
    padding-right: 4em;
  }
  .pt-xlg-4 {
    padding-top: 4em;
  }
  .pb-xlg-4 {
    padding-bottom: 4em;
  }
  .pl-xlg-5 {
    padding-left: 5em;
  }
  .pr-xlg-5 {
    padding-right: 5em;
  }
  .pt-xlg-5 {
    padding-top: 5em;
  }
  .pb-xlg-5 {
    padding-bottom: 5em;
  }
  .g-xlg-unset {
    gap: unset;
  }
  .g-xlg-1 {
    gap: 1em;
  }
  .g-xlg-2 {
    gap: 2em;
  }
  .g-xlg-3 {
    gap: 3em;
  }
  .g-xlg-4 {
    gap: 4em;
  }
  .g-xlg-5 {
    gap: 5em;
  }
  .r-g-xlg-unset {
    row-gap: unset;
  }
  .r-g-xlg-1 {
    row-gap: 1em;
  }
  .r-g-xlg-2 {
    row-gap: 2em;
  }
  .r-g-xlg-3 {
    row-gap: 3em;
  }
  .r-g-xlg-4 {
    row-gap: 4em;
  }
  .r-g-xlg-5 {
    row-gap: 5em;
  }
  .c-g-xlg-unset {
    column-gap: unset;
  }
  .c-g-xlg-1 {
    column-gap: 1em;
  }
  .c-g-xlg-2 {
    column-gap: 2em;
  }
  .c-g-xlg-3 {
    column-gap: 3em;
  }
  .c-g-xlg-4 {
    column-gap: 4em;
  }
  .c-g-xlg-5 {
    column-gap: 5em;
  }
}

@media only screen and (min-width: 3072px) {}

@media only screen and (min-width: 5120px) {}