* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  --primary-text: white;
  --primary: rgb(15, 17, 17);
  --primary-dark-variant: rgb(19, 19, 19);
  --primary-light-variant: rgb(91, 99, 99);
  --disabled: rgb(203, 203, 205);
  --disabled-text: rgb(66, 66, 80);
  --error: rgb(176, 0, 32);
  --error-text: white;
  --helper: rgb(58, 182, 25);
  --info: rgb(25, 64, 182);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

blockquote {
  font-size: 17px;
}

b, strong, s {
  font-size: 16px;
}

a, p, input, textarea, button, select, q {
  font-size: 15px;
}

ul, ol {
  font-size: 0.9em;
}

li {
  font-size: 0.99em;
}

small, sub, sup {
  font-size: 12px;
}

q, blockquote {
  font-style: italic;
}

span {
  font-size: 22px;
  font-family: 'Lateef', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  color: var(--primary-light-variant);
}

.flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.self-align-start {
  align-self: flex-start;
}

.self-align-end {
  align-self: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.self-start {
  justify-self: flex-start;
}

.self-end {
  justify-self: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.g-unset {
  gap: unset;
}

.g-1 {
  gap: 1em;
}

.g-2 {
  gap: 2em;
}

.g-3 {
  gap: 3em;
}

.g-4 {
  gap: 4em;
}

.g-5 {
  gap: 5em;
}

.r-g-unset {
  row-gap: unset;
}

.r-g-1 {
  row-gap: 1em;
}

.r-g-2 {
  row-gap: 2em;
}

.r-g-3 {
  row-gap: 3em;
}

.r-g-4 {
  row-gap: 4em;
}

.r-g-5 {
  row-gap: 5em;
}

.c-g-unser {
  column-gap: unset;
}

.c-g-1 {
  column-gap: 1em;
}

.c-g-2 {
  column-gap: 2em;
}

.c-g-3 {
  column-gap: 3em;
}

.c-g-4 {
  column-gap: 4em;
}

.c-g-5 {
  column-gap: 5em;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

.margin-center {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-66 {
  width: 66.66%
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%
}

.w-25 {
  width: 25%;
}

.w-unset {
  width: unset;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mx-2 {
  margin-left: 2em;
  margin-right: 2em;
}

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.mx-3 {
  margin-left: 3em;
  margin-right: 3em;
}

.my-4 {
  margin-top: 4em;
  margin-bottom: 4em;
}

.mx-4 {
  margin-left: 4em;
  margin-right: 4em;
}

.my-5 {
  margin-top: 5em;
  margin-bottom: 5em;
}

.mx-5 {
  margin-left: 5em;
  margin-right: 5em;
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  blockquote {
    font-size: 21px;
  }
  .md-row {
    flex-direction: row;
  }
  .md-column {
    flex-direction: column;
  }
  .flex-md-1 {
    flex: 1;
  }
  .flex-md-2 {
    flex: 2;
  }
  .flex-md-3 {
    flex: 3;
  }
  .flex-md-4 {
    flex: 4;
  }
  .flex-md-5 {
    flex: 5;
  }
  .flex-md-6 {
    flex: 6;
  }
  .flex-md-7 {
    flex: 7;
  }
  .flex-md-8 {
    flex: 8;
  }
  .flex-md-9 {
    flex: 9;
  }
  .flex-md-10 {
    flex: 10;
  }
  .flex-md-11 {
    flex: 11;
  }
  .flex-md-12 {
    flex: 12;
  }
  .w-md-100 {
    width: 100%
  }
  .w-md-80 {
    width: 80%;
  }
  .w-md-75 {
    width: 75%;
  }
  .w-md-66 {
    width: 66.66%
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-33 {
    width: 33.33%
  }
  .w-md-25 {
    width: 25%;
  }
  .w-md-unset {
    width: unset;
  }
}

/* iPad 10'5" */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .xmd-row {
    flex-direction: row;
  }
  .xmd-column {
    flex-direction: column;
  }
  .flex-xmd-1 {
    flex: 1;
  }
  .flex-xmd-2 {
    flex: 2;
  }
  .flex-xmd-3 {
    flex: 3;
  }
  .flex-xmd-4 {
    flex: 4;
  }
  .flex-xmd-5 {
    flex: 5;
  }
  .flex-xmd-6 {
    flex: 6;
  }
  .flex-xmd-7 {
    flex: 7;
  }
  .flex-xmd-8 {
    flex: 8;
  }
  .flex-xmd-9 {
    flex: 9;
  }
  .flex-xmd-10 {
    flex: 10;
  }
  .flex-xmd-11 {
    flex: 11;
  }
  .flex-xmd-12 {
    flex: 12;
  }
  .w-xmd-100 {
    width: 100%
  }
  .w-xmd-80 {
    width: 80%;
  }
  .w-xmd-75 {
    width: 75%;
  }
  .w-xmd-66 {
    width: 66.66%
  }
  .w-xmd-50 {
    width: 50%;
  }
  .w-xmd-33 {
    width: 33.33%
  }
  .w-xmd-25 {
    width: 25%;
  }
  .w-xmd-unset {
    width: unset;
  }
}

/* iPad 13'6" */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  blockquote {
    font-size: 19px;
  }
  .lg-row {
    flex-direction: row;
  }
  .lg-column {
    flex-direction: column;
  }
  .flex-lg-1 {
    flex: 1;
  }
  .flex-lg-2 {
    flex: 2;
  }
  .flex-lg-3 {
    flex: 3;
  }
  .flex-lg-4 {
    flex: 4;
  }
  .flex-lg-5 {
    flex: 5;
  }
  .flex-lg-6 {
    flex: 6;
  }
  .flex-lg-7 {
    flex: 7;
  }
  .flex-lg-8 {
    flex: 8;
  }
  .flex-lg-9 {
    flex: 9;
  }
  .flex-lg-10 {
    flex: 10;
  }
  .flex-lg-11 {
    flex: 11;
  }
  .flex-lg-12 {
    flex: 12;
  }
  .w-lg-100 {
    width: 100%
  }
  .w-lg-80 {
    width: 80%;
  }
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-66 {
    width: 66.66%
  }
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-33 {
    width: 33.33%
  }
  .w-lg-25 {
    width: 25%;
  }
  .w-lg-unset {
    width: unset;
  }
}

@media screen and (min-width: 1900px) {}

/* Extra extra large devices (iMac) */

@media screen and (min-width:2560px) {
  .xlg-row {
    flex-direction: row;
  }
  .xlg-column {
    flex-direction: column;
  }
  .flex-xlg-1 {
    flex: 1;
  }
  .flex-xlg-2 {
    flex: 2;
  }
  .flex-xlg-3 {
    flex: 3;
  }
  .flex-xlg-4 {
    flex: 4;
  }
  .flex-xlg-5 {
    flex: 5;
  }
  .flex-xlg-6 {
    flex: 6;
  }
  .flex-xlg-7 {
    flex: 7;
  }
  .flex-xlg-8 {
    flex: 8;
  }
  .flex-xlg-9 {
    flex: 9;
  }
  .flex-xlg-10 {
    flex: 10;
  }
  .flex-xlg-11 {
    flex: 11;
  }
  .flex-xlg-12 {
    flex: 12;
  }
  .w-xlg-100 {
    width: 100%
  }
  .w-xlg-80 {
    width: 80%;
  }
  .w-xlg-75 {
    width: 75%;
  }
  .w-xlg-66 {
    width: 66.66%
  }
  .w-xlg-50 {
    width: 50%;
  }
  .w-xlg-33 {
    width: 33.33%
  }
  .w-xlg-25 {
    width: 25%;
  }
  .w-xlg-unset {
    width: unset;
  }
}

@media screen and (min-width: 3072px) {}

@media screen and (min-width: 5120px) {}